services:
  app:
    build: .
    ports:
      - "8501:8501"
    depends_on:
      - minio
    environment:
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      - ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
    volumes:
      - .:/app
      - ./evidently_workspace:/app/evidently_workspace

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: server /data --console-address ":9001"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3

  evidently:
    build:
      context: .
      dockerfile: Dockerfile.evidently
    container_name: evidently
    ports:
      - "8000:8000"
    volumes:
      - ./evidently_workspace:/app/evidently_workspace

volumes:
  minio_data:
